body {
    margin: 0 30 0 30;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }

  /* Hero Section */
  .project-topic {
    background-image: url('../opioid.jpg'); /* your title image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5); /* dark transparent overlay */
  }

  .project-text {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
  }

  .project-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .project-text p {
    font-size: 1.2rem;
  }

  main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: .5rem 0;
  }

  h1, h2, p {
    margin-top: 0.5rem;
  }

  section {
    margin-bottom: 2rem;
  }

  .chart-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  span {
    display:flex;
    text-align: left;
    color:gray;
    /* margin: 0; */
  }
